<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SoftwareTas.Properties.Settings.imsdbConnectionString"
            connectionString="Data Source=localhost\sqlexpress;Initial Catalog=imsdb;Persist Security Info=True;User ID=boris;Password=boris"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>